body {

	position: fixed;
	height : 100%;
	width:100%;
	padding-top: 70px; 
	/*padding-bottom: 30px;*/
	background: #555 no-repeat center center fixed;
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover;
}

.reset-button {
	margin-right:20px;
}

.panel-transparent{
	background: rgb(255, 255, 255); /* Fall-back for browsers that don't
                                    support rgba */
    background: rgba(255, 255, 255, .8);
}

.mypanel{
	padding-bottom: 20px;
}

.full-body{
	height : 100%;
	overflow: hidden;
}

#world{
	height : 100%;
}

#chat-box{
	height:100%;
	padding-bottom: 60px;
	overflow: scroll;
}

#chat-box hr {
	margin: 5px 0;
}

.draggable { 
	position: fixed; 
} 
